MYSQL_HOST=your-mysql-host
MYSQL_PORT=3306
MYSQL_USER=your-mysql-user
MYSQL_PASSWORD=your-mysql-password
MYSQL_DATABASE=your-mysql-database
CITY_PAGES_WEBSITE_ID=
CITY_PAGES_LANGUAGE_CODE=
CITY_PAGES_WEBSITE_DOMAIN=
